i{
    font-size: 1.8rem;
    transition: ease 0.2s;
    color: gray;
}
button{
    transition: ease 0.2s!important;
}

i:hover, button:hover{
    filter: brightness(92%)!important;
    cursor: pointer;
}

.text-gold{
    color: #FFD700;
}

.text-white{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000!important;
}

.border {
    box-shadow:
    2.6px 2.4px 1.5px rgba(0, 0, 0, 0.334),
    21px 19px 12px rgba(0, 0, 0, 0.42)
  ;
}




